.card {
    width: 13rem;
    border: none;
    transition: all 100ms;
}

@media screen and (max-width: 500px){
    .card {
        width: 80%;
    }    
    .card img {
        height: 13rem;
    }
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 1px 2px 24px -3px rgba(0,0,0,0.69);
-webkit-box-shadow: 1px 2px 24px -3px rgba(0,0,0,0.69);
-moz-box-shadow: 1px 2px 24px -3px rgba(0,0,0,0.69);
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
}