@font-face {
    font-family: marvel;
    src: url(../../fonts/Tungsten-Bold.ttf);
}

.logo-nav {
    font-family: 'Press Start 2p', cursive;
    font-size: 1.1rem;
}
.menu-nav {
    font-size: 1.25rem;
    font-family: marvel;
}

.bi-cart {
    color: grey;
    font-size: 1.5rem;
    text-decoration: none;
}
.bi-cart:hover {
    color: white;
}

p {
    background: white;
    border-radius: 50%;
    font-size: .5rem;
}

.contador {
    border-radius: 100%;
    font-size: .9rem;
    text-align: center;
    font-family: 'Press Start 2p', cursive;
}